<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIPG_FrameWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CIPG_FrameWork.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="wrong_password" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="wrong_username" serializeAs="String">
                <value>ertyu</value>
            </setting>
            <setting name="empty_username" serializeAs="String">
                <value />
            </setting>
            <setting name="empty_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Username_TextBox" serializeAs="String">
                <value>Login1_UserName</value>
            </setting>
            <setting name="Password_TextBox" serializeAs="String">
                <value>Login1_Password</value>
            </setting>
            <setting name="LoginButton" serializeAs="String">
                <value>Login1_LoginButton</value>
            </setting>
            <setting name="Special_Characters" serializeAs="String">
                <value>"@@****</value>
            </setting>
            <setting name="Approval_Page" serializeAs="String">
                <value>//div[@id='waxnav']/ul/li[3]/div/a/span</value>
            </setting>
            <setting name="Help_Page" serializeAs="String">
                <value>//div[@id='waxnav']/ul/li[6]/div/a/span</value>
            </setting>
            <setting name="List_Page" serializeAs="String">
                <value>//div[@id='waxnav']/ul/li[2]/div/a/span</value>
            </setting>
            <setting name="New_Page" serializeAs="String">
                <value>a &gt; span</value>
            </setting>
            <setting name="Reports_Page" serializeAs="String">
                <value>//div[@id='waxnav']/ul/li[5]/div/a/span</value>
            </setting>
            <setting name="Logout_Link" serializeAs="String">
                <value>Logout</value>
            </setting>
            <setting name="View_Branches" serializeAs="String">
                <value>View Branches</value>
            </setting>
            <setting name="View_Fees" serializeAs="String">
                <value>View Fees</value>
            </setting>
            <setting name="View_Merchants" serializeAs="String">
                <value>View Merchants</value>
            </setting>
            <setting name="View_Regions" serializeAs="String">
                <value>View Regions</value>
            </setting>
            <setting name="View_User_Roles" serializeAs="String">
                <value>View User Roles</value>
            </setting>
            <setting name="View_Users" serializeAs="String">
                <value>View Users</value>
            </setting>
            <setting name="Bank_Report" serializeAs="String">
                <value>Bank Transaction Report</value>
            </setting>
            <setting name="Audit_Trail" serializeAs="String">
                <value>Audit Trail</value>
            </setting>
            <setting name="Settlement_Report" serializeAs="String">
                <value>Settlement Report</value>
            </setting>
            <setting name="Product_Split_Report" serializeAs="String">
                <value>Product Split Report</value>
            </setting>
            <setting name="Order_Settlement_Report" serializeAs="String">
                <value>Order Settlement Report</value>
            </setting>
        </CIPG_FrameWork.Properties.Settings>
    </userSettings>
</configuration>